[submodule "libs/tri-dpf"]
	path = libs/tri-dpf
	url = https://github.com/sachaservan/tri-dpf
[submodule "scripts/parameters_estimation"]
	path = scripts/parameters_selection
	url = https://github.com/mbombar/estimator_folding.git
